h1 {
color: blue;
text-indent: inherit;
background-color: red;
height: 50%;
width: 50%;
}

div {
  color: blue;
  height: auto;
  width: auto;
}

p {
  color: yellow;
  background-color: black;
  height: 200px;
  width: 300px;
}
